<h2>All Historical Landmarks</h2>

<% @landmarks.each do |landmark|%>
    <%= landmark.name%><%= landmark.year_completed%><br>
<% end%>

<a class="button" href="/figures">Figures</a><br>
<a class="button" href="/">Home</a>
